<!--<p>
destino-viaje works!
</p>-->
<!--
<p>
    * {{ nombre }}
</p>-->
<!-- eñ gato muestra el listado y no pasa nada esto se jala desde el componente de typescript-
<div class="col-md-4">  resolvimos el problema de ponerlo uno abajo del otro con un binding-->
<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{ position }} </h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }} </h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase = "'desayuno'" style="color: red">{{s}}</i> <!--podemos mandarle una funcion o lo que queramos comparar
                    para este caso es como los case normales podemos poner n veces igusl tenemos un default-->
                    <i *ngSwitchDefault>{{s}}</i> 
                </span>
                <!--agregamos los contenidos de los servicios que tenemos dentro de nuestro constructor-->

            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <!-- <span [style.display]="destino.isSelected() ? '' : 'none' ">- PREFERIDO -</span> -->
        <span *ngIf="destino.isSelected()">
        <span ngNonBindable>{{PREFERIDO}}</span></span>
        <!--bindable sirve como para no ser modifcado
        como una tipo constante que no sea renderizado-->
        <a [routerLink]="['/destino']"> Ver Detalle </a>
        <!--asi ya cumplimos con una single page aplication
        paginas de un solo sitio con mas de una ruta -->
    </div>
</div>
<!--div-->