<!--<p>hola mundo</p>-->
<!-- aqui jalamos el componente destino el cual iteramos 0 hasta los destinos definidos en su typescript
despues de ahi a la variable nombre que teniamos definida en el otro componente se le pasa la variable iterada x
y bueno a la ahora que se crea el for creamo cada instancia. pero el controla los saltos
es donde definimos el componente que vamos mostrando -->
<!-- <app-destino-viaje *ngFor="let x of destinos" [nombre]="x">
</app-destino-viaje> -->
<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                    <!--en esta parte teniamos el codigo del formulario pero lo pasamos a nuestro componente form-destino-viaje
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresarnombre..." #nombre>
                            estas son llamadas variables de plantilla que vamos a jalar cuando esten llenas estan estan disponibles dentro de este template-->
                    <!--</div>
                        <div class="form-group">
                            <label for="Imagen Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
                        </div>

                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)">Guardar!</button>
                        aqui las mandamos a llamar esas variables que se guardaron en los inputs y se los pasamos a nuestra funcion
                        creada en el boton estos son los objetos DOM que conocemos-->
                    <!--</form>-->

                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <!--Cards -->
    <!-- ($event) acepta el evento que llega por el eventEmitter-->
    <!-- let i=index indice del for -->
    <div class="row row-flex">
        <!--hicimos que se renderiza n veces como lo haciamos al imprimir la tabla pero en el otro componente
        jalando de la clase que hicimos esto va iniciar como vacio por que iteramos sobre la clase
        por eso no se va a mostrar la imagen los clicks van con parentesis los for con su corchete
    ya no iteramos sobre destinos en nuestro typescript definido si no ahora en destinoapicliente.getall()-->
        <app-destino-viaje *ngFor="let x of destinosApiClient.getAll(); let i=index;" [destino]="x" [idx]="i+1" (clicked)="elegido(x)"></app-destino-viaje>
        <!--ponemos el evento que se va utiliza x que son nuestros destinos
        pero igual podemos ponerle $event -->
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">
                {{u}}

            </li>
        </ul>
    </div>
</div>