<div class="container content"><!-- margenes en los que manejamos en los dispositivos -->
	<div class="row">
		<div class="col-md-6">
			<p>trabajando!</p>
		</div>
		<div class="col-md-6">
			<p>andamos!</p>
		</div>
	</div>
</div>