<form [formGroup]="fg" (ngSubmit)="guardar(
								fg.controls['nombre'].value,
								fg.controls['url'].value
					)">
    <!--agregamos las variables que tenamos antes en los formularios en un formgoup y mandamos con formcontrol el nombre de las variables #nombre-->
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <!--este es para la sugerencias que se muestre cada vez que se vaya tipeando algo se detecte-->
            <li *ngFor="let r of searchResult">
                {{r}}
            </li>
        </ul>
    </div>
    <!--<div *ngIf="!fg.controls['nombre'].valid">
        esta es una validacion por controles
        Nombre invalido
    </div>-->
    <div *ngIf="fg.controls['nombre'].hasError('required')">
        <!--esta es por una validacion en particular-->
        Nombre requerido
    </div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
        <!--esta es por una validacion en particular-->
        Nombre invalido
    </div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
        <!--esta es por una validacion en particular-->
        Nombre debe tener al menos {{minLongitud}} de largo
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
    <!--hereda lo que se toma del formgroup si fue valido por eso hasta que haya sido valido el boton se muestra-->
</form>