<!-- HOLA MUNDO
<app-saludador></app-saludador> -->
<div class="container content">
    <div class="page header">
        <div class="container">
            <div class="navLinks">
                <a [routerLink]="['/home']"> Home </a>
                <!--manejamos los estados y se pueda compartir informacion esto reemplaza al uso del href-->
                <a [routerLink]="['/destino']"> Destino </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>
            {{ title }}
            <!--jala el titulo del proyecto que tenemos-->
        </h1>
    </div>


    <router-outlet></router-outlet>
    <!--en lugar de constante nuestro componente ahora ya pasa hacer como varablie para renderar nuestros componentes-->
    <!--<app-destino-viaje></app-destino-viaje>-->
    <!--<app-lista-destinos></app-lista-destinos> -->
    <!--jalamos un componente que dentro de ese componente existe 
    otro componente-->
</div>
<hr class="mb-5"> Fecha: {{ time | async }}
<!---estamos diciendo que la hora se ponga de manera asincrona-->